<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .hold {
        border: 1px solid #ccc;
        padding: 10px;
        width:50%;
      }
      h1 {
        width: 97%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="hold">
      <h1><%= title %></h1>
      <a href="/users">View more</a>
    </div>
  </body>
</html>
