<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    </style>
</head>
<body>
<div class="hold">
    <h1><%= title %></h1>
</div>
</body>
</html>
